@import "tailwindcss";
@plugin "daisyui";

:root {
  font-family: 'JetBrains Mono', 'Fira Code', monospace;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: dark;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #050505;
}